
#barra{
    background-color: rgb(182, 182, 182);
    
}
.elementos_da_barra{
    color: rgb(71, 71, 71); 
    padding-top: 5px;
    font-size: 20px;
    font-style:initial;
    text-align: center;
}
.elementos_da_barra:hover ,.atual{
    color: rgb(250, 123, 3); 
}
#usuario{
    margin-left: -20px;

  
}