
#barra{
    background-color: rgb(199, 199, 199);
    
}
.elementos_da_barra{
    color: rgb(71, 71, 71); 
    padding-top: 5px;
    font-size: 20px;
    font-style:initial;
    text-align: center;
}
.elementos_da_barra:hover ,#atual{
    color: rgb(255, 147, 46); 
}
#usuario{
    margin-left: -20px;

  
}